extends layout

block content
	div(id="fb-root")
	h1= title
	p(id="Name") Welcome to #{title}
	br
	<fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
	br
	br
	fieldset
		input#apiCall(type='text', placeholder='apiCall')
		button#btnapiCall Call the API
	br
	button#nextCall

	br
	br
	div(id='status')
	div(id="call")